<% provide(:title, "Interpreter") %>

<div style="width: 100%; overflow: hidden;">
	<div style="width: 600px; float: left;"> 
		<h1>Interpreter</h1>
		<p>
		Web interface for a unification algorithm
		</p>

		<form id="problem_form" action="/pages/handle_unification" method="POST">
			<%= text_area(:problem, :text, cols: 75, rows: 20, style: "position: absolute; resize: none") %>
			<input type="button" style="position: absolute; top: 620px" value="Run unification" id="submit_button" class="button" />
		</form>
	</div>

	<div style="margin-left: 620px;"> 
		<h1>Results</h1>
		<div id="result">Enter unificaation problem.</div>
   	</div>
</div>

<script src="/assets/application.js"></script>


<script>
$('#submit_button').click(function() {  
	var valuesToSubmit = $("#problem_text").serialize();
	console.log(valuesToSubmit);
	$.ajax({
		type: "POST",
		url: $("#problem_form").attr('action'), //sumbits it to the given url of the form
		data: valuesToSubmit,
		dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
	}).success(function(json){
		$("#result").text(json["message"]);
	});
});
</script>
